


@if(TempData["succes"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> @*Toastr google github voor leuke meldingen dan css en jquery mini toevoegen*@
    
    <script type="text/javascript">
        toastr.success('@TempData["succes"]');
    </script>

}
@if(TempData["error"] != null)
{
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <h2>@TempData["error"]</h2>
}